<div class="contedor-dashboard">
  <div #grid class="grid-stack">
    <!--
      gs-w = columnas q ocupa
      gs-h = filas q ocupa
    -->
    <div class="grid-stack-item" gs-w="4" gs-h="2">
      <div class="grid-stack-item-content">
        <app-grafico-uno></app-grafico-uno>
      </div>
    </div>

    <div class="grid-stack-item" gs-w="2" gs-h="2">
      <div class="grid-stack-item-content">
        <app-grafico-dos></app-grafico-dos>
      </div>
    </div>

    <div class="grid-stack-item" gs-w="2" gs-h="2">
      <div class="grid-stack-item-content">
        <app-grafico-tres></app-grafico-tres>
      </div>
    </div>

    <div class="grid-stack-item" gs-w="4" gs-h="2">
      <div class="grid-stack-item-content">
        <app-grafico-cuatro></app-grafico-cuatro>
      </div>
    </div>

    <div class="grid-stack-item" gs-w="2" gs-h="2">
      <div class="grid-stack-item-content">
        <app-grafico-cinco></app-grafico-cinco>
      </div>
    </div>

    <div class="grid-stack-item" gs-w="2" gs-h="2">
      <div class="grid-stack-item-content">
        <app-grafico-seis></app-grafico-seis>
      </div>
    </div>
  </div>
</div>
